[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "dotbot-sudo"]
	path = plugins/dotbot-sudo
	url = https://github.com/DrDynamic/dotbot-sudo.git
[submodule "dotbot_plugin_aptget"]
	path = plugins/dotbot_plugin_aptget
	url = https://github.com/dein0s/dotbot_plugin_aptget.git
[submodule "dotbot-brew"]
	path = plugins/dotbot-brew
	url = https://github.com/d12frosted/dotbot-brew.git
[submodule "dotbot-pip"]
	path = plugins/dotbot-pip
	url = https://github.com/sobolevn/dotbot-pip.git
[submodule "dotbot-snap"]
	path = plugins/dotbot-snap
	url = https://github.com/DrDynamic/dotbot-snap.git
